PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2023-12-22 15:29:23.576128');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2023-12-22 15:29:23.615320');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2023-12-22 15:29:23.642949');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'561','black wood - 400 @ Tue Mar 12 14:34:21 2024 - Paid',3,'',9,1,'2024-03-12 14:35:09.776262');
INSERT INTO django_admin_log VALUES(2,'560','monster - 2600 @ Tue Mar 12 14:34:21 2024 - Paid',3,'',9,1,'2024-03-12 14:35:09.787261');
INSERT INTO django_admin_log VALUES(3,'559','sosa - 600 @ Tue Mar 12 14:34:21 2024 - Paid',3,'',9,1,'2024-03-12 14:35:09.794264');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$V0jAzGX0LzyYzCzpQdbRg8$IFNszvmwnNxxQNhHLXSDwxDFr6Ivl9IPq44qUER5oCQ=','2024-05-08 15:33:01.809981',1,'admin','','admin@admin.com',1,1,'2024-03-12 11:21:47.383941','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('db9hr4j3ochqu7jme8zlpnt5md8dqyzo','.eJxVjMsOwiAQRf-FtSG8y7h07zcQhgGpGkhKuzL-uzbpQrf3nHNfLMRtrWEbeQkzsTOT7PS7YUyP3HZA99hunafe1mVGviv8oINfO-Xn5XD_Dmoc9Vu7hOiMRKsFTAJ8NBmU8QlFdkQe_KSsl05SMYBJUBGaLCnAgtopkdn7A9JpN6s:1rk0Cg:GvX8QTIZlh0LhJMAf7T22y3w9xQ9omOadewdDsclFig','2024-03-26 11:21:54.604458');
INSERT INTO django_session VALUES('164qfh5aqqmdjh1e2scik7bjttxhwb6i','.eJxVjMsOwiAQRf-FtSG8y7h07zcQhgGpGkhKuzL-uzbpQrf3nHNfLMRtrWEbeQkzsTOT7PS7YUyP3HZA99hunafe1mVGviv8oINfO-Xn5XD_Dmoc9Vu7hOiMRKsFTAJ8NBmU8QlFdkQe_KSsl05SMYBJUBGaLCnAgtopkdn7A9JpN6s:1rp54G:3u11DAeuSN5TSNBZOeN3bq-AH9fg3-ljB0poM28lJRY','2024-04-09 11:34:12.416747');
INSERT INTO django_session VALUES('35x4rkd4irvc1mbwbeiwxq1jsrrhhje0','.eJxVjMsOwiAQRf-FtSG8y7h07zcQhgGpGkhKuzL-uzbpQrf3nHNfLMRtrWEbeQkzsTOT7PS7YUyP3HZA99hunafe1mVGviv8oINfO-Xn5XD_Dmoc9Vu7hOiMRKsFTAJ8NBmU8QlFdkQe_KSsl05SMYBJUBGaLCnAgtopkdn7A9JpN6s:1rpRPM:YhIJiO7Z3_RMS8CoLs7hRXE5uHhNEtaUUaLrQWcWyHY','2024-04-10 11:25:28.013221');
CREATE TABLE IF NOT EXISTS "token_blacklist_blacklistedtoken" ("blacklisted_at" datetime NOT NULL, "token_id" bigint NOT NULL UNIQUE REFERENCES "token_blacklist_outstandingtoken" ("id") DEFERRABLE INITIALLY DEFERRED, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
CREATE TABLE IF NOT EXISTS "token_blacklist_outstandingtoken" ("token" text NOT NULL, "created_at" datetime NULL, "expires_at" datetime NOT NULL, "user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "jti" varchar(255) NOT NULL UNIQUE, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTcxMDg0ODk3OCwiaWF0IjoxNzEwMjQ0MTc4LCJqdGkiOiJjZTk2OGFiNTNjODM0ODJiYmRkZjE4ZjNhZDFkZTc0MCIsInVzZXJfaWQiOjF9.62Si5uZm7OI0rY_qkyBRyRcutzLywsXXZlXFs10PJxc','2024-03-12 11:49:38.223422','2024-03-19 11:49:38',1,'ce968ab53c83482bbddf18f3ad1de740',1);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTcxMDg1OTg3OCwiaWF0IjoxNzEwMjU1MDc4LCJqdGkiOiIyYmVjZmQxNjI0ZWM0ODJiYjg3ZTU0ZDNiNDVjMzcwMyIsInVzZXJfaWQiOjF9.9p2Zw7fiRSMtqWHefs9xo8R4lucodHGpaN1mOK-AzVs','2024-03-12 14:51:18.018724','2024-03-19 14:51:18',1,'2becfd1624ec482bb87e54d3b45c3703',2);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTcxMDg3NTAxNywiaWF0IjoxNzEwMjcwMjE3LCJqdGkiOiJlMzBmOTc0M2JiNmU0Yzg3YTE1NjViOWMwNzU2NDg0MSIsInVzZXJfaWQiOjF9.IxFRt_MaQJKElNpM5pFDpBNG1gzenc6Y0Xvcc95QyPc','2024-03-12 19:03:37.886897','2024-03-19 19:03:37',1,'e30f9743bb6e4c87a1565b9c07564841',3);
CREATE TABLE IF NOT EXISTS "main_category" ("created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "name" varchar(255) NOT NULL PRIMARY KEY);
INSERT INTO main_category VALUES('2024-03-12 11:23:36.209024','2024-03-12 11:23:36.209024','MISC');
INSERT INTO main_category VALUES('2024-03-12 11:23:55.539558','2024-03-12 11:23:55.539558','DRINKS');
INSERT INTO main_category VALUES('2024-03-12 11:24:40.053960','2024-03-12 11:24:40.053960','FOOD');
CREATE TABLE IF NOT EXISTS "main_sale" ("created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "total" integer NOT NULL, "quantity" integer NOT NULL, "item_id" char(32) NULL REFERENCES "main_stock" ("id") DEFERRABLE INITIALLY DEFERRED, "price" integer NOT NULL, "amount_paid" integer NOT NULL, "status" varchar(10) NOT NULL, "payment_method" varchar(10) NULL, "sold_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "change" integer NOT NULL);
INSERT INTO main_sale VALUES('2024-02-01 00:00:00','2024-03-13 20:50:28.646462',5697,2400,4,'49b246f271484a49984b5cfc91eaba7f',600,2400,'Paid',NULL,1,0);
INSERT INTO main_sale VALUES('2024-02-01 00:00:00','2024-03-13 20:50:28.646462',5698,3000,5,'32e53adfd9994aad9c665d37f8343b95',600,3000,'Paid',NULL,1,0);
INSERT INTO main_sale VALUES('2024-02-01 00:00:00','2024-03-13 20:50:28.646462',5699,4000,5,'d5bdd90e065341c8a41c509135df71af',800,4000,'Paid',NULL,1,0);
CREATE TABLE IF NOT EXISTS "main_stock" ("created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "quantity" integer NOT NULL, "price_per_unit" integer NOT NULL, "quantity_sold" integer NOT NULL, "id" char(32) NOT NULL PRIMARY KEY, "low_stock_threshold" integer NOT NULL, "category_id" varchar(255) NULL REFERENCES "main_category" ("name") DEFERRABLE INITIALLY DEFERRED, "is_service" bool NOT NULL, "use_amount" bool NOT NULL, "use_quantity" bool NOT NULL, "name" varchar(255) NOT NULL UNIQUE);
INSERT INTO main_stock VALUES('2024-03-13 05:59:51.653382','2024-03-13 05:59:51.653382',0,600,0,'49b246f271484a49984b5cfc91eaba7f',0,'Drinks',0,1,0,'goldberg');
INSERT INTO main_stock VALUES('2024-03-13 05:59:51.667248','2024-03-13 05:59:51.667248',0,600,0,'32e53adfd9994aad9c665d37f8343b95',0,'Drinks',0,1,0,'trophy');
INSERT INTO main_stock VALUES('2024-03-13 05:59:51.676558','2024-03-13 05:59:51.676558',0,400,0,'01a9cd6ec29d4921b8a05a79a4865fe3',0,'Drinks',0,1,0,'predator');
CREATE TABLE IF NOT EXISTS "main_expence" ("created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "name" varchar(255) NOT NULL, "quantity" integer NOT NULL, "price" integer NOT NULL, "price_per_unit" integer NOT NULL, "selling_price_per_unit" integer NOT NULL, "add_to_stock" bool NOT NULL, "item_id" char(32) NULL REFERENCES "main_stock" ("id") DEFERRABLE INITIALLY DEFERRED, "total" integer NOT NULL, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
INSERT INTO main_expence VALUES('2024-01-01 00:00:00','2024-03-14 20:23:39.808174','',36,1,416,0,0,'32e53adfd9994aad9c665d37f8343b95',15000,1426);
INSERT INTO main_expence VALUES('2024-01-01 00:00:00','2024-03-14 20:23:39.808174','',5,1,5000,0,0,'46ed207a248b4d69855a5ccefaa1513c',25000,1427);
INSERT INTO main_expence VALUES('2024-01-01 00:00:00','2024-03-14 20:23:39.808174','',24,1,283,0,0,'fc04c0617180440e826c00974c35884e',6800,1428);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',64);
INSERT INTO sqlite_sequence VALUES('django_admin_log',914);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "token_blacklist_outstandingtoken_user_id_83bc629a" ON "token_blacklist_outstandingtoken" ("user_id");
CREATE INDEX "main_sale_item_id_e7ed6a69" ON "main_sale" ("item_id");
CREATE INDEX "main_sale_sold_by_id_6fd69afc" ON "main_sale" ("sold_by_id");
CREATE INDEX "main_stock_category_id_b7fa5b34" ON "main_stock" ("category_id");
CREATE INDEX "main_expence_item_id_bdcc20fd" ON "main_expence" ("item_id");
COMMIT;
